/**
 * Base style to affect HTML elements on a general scale.
 */
html {
  overflow-y: scroll;
  background-color: #424242;
}
body {
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #fff;
  font: 100.01%/1 serif;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #020a9f;
}
a:hover {
  text-decoration: underline;
}
