/**
 * Base style to affect HTML elements on a general scale.
 */
html {
  overflow-y: scroll;
}
body {
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  color: #333;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #2c2d65;
}
a:hover {
  text-decoration: underline;
}
img {
  max-width: 100%;
}
