/**
 * Typographic defaults.
 */
/**
* Import fonts.
*/
@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 400;
  src: local('EB Garamond Regular'), local('EBGaramond-Regular'), url(https://fonts.gstatic.com/s/ebgaramond/v9/SlGUmQSNjdsmc35JDF1K5GR1SDw.ttf) format('truetype');
}
@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 600;
  src: local('EB Garamond SemiBold'), local('EBGaramond-SemiBold'), url(https://fonts.gstatic.com/s/ebgaramond/v9/SlGJmQSNjdsmc35JDF1K5GyqbCwSQgs.ttf) format('truetype');
}
@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  src: local('Libre Baskerville'), local('LibreBaskerville-Regular'), url(https://fonts.gstatic.com/s/librebaskerville/v5/kmKnZrc3Hgbbcjq75U4uslyuy4kn0qNZaxY.ttf) format('truetype');
}
@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 700;
  src: local('Libre Baskerville Bold'), local('LibreBaskerville-Bold'), url(https://fonts.gstatic.com/s/librebaskerville/v5/kmKiZrc3Hgbbcjq75U4uslyuy4kn0qviTgY3KcU.ttf) format('truetype');
}
#desinax-hgrid {
  /**
     * Mixins used when setting default fonts
     */
  /**
     * Settings for headings H1-H6
     */
  /**
     * Text elements
     */
  /**
     * Display source code.
     */
  /**
     * Lists
     */
  /**
     * Tables. Because of the need for padding on TH and TD, the vertical rhythm
     * on table cells has to be 1.5*@magic-number.
     */
  /**
     * More typography elements
     */
  /**
     * Enable all default typographic elements.
     */
}
